/*
|*
|* MonAIker Css
|*
|*
*/

/*reset CSS*/

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body.custom-background {
  background-size: cover;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

mark {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

.entry-content p {
  word-break: break-word;
}

svg:not(:root) {
  overflow: hidden;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  color: inherit;
  font: inherit;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  appearance: button;
  -webkit-appearance: button;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  box-sizing: content-box;
  appearance: textfield;
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
  border: 1px solid #c0c0c0;
}

legend {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
}

/**
* Generale
**/

/*Variabili*/

:root {
  --colore_nero: #000;
  --colore_bianco: #fff;
  --colore_azzurro: #0b9fd5;
}

html {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100%;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: "alkatraregular";
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-size: 1.3rem;
  line-height: 1.25;
  background-color: var(--colore_nero);
  transition: ease-in 0.5s;
}

div {
  display: block;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--colore_nero);
}

a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: var(--colore_nero);
}

ul {
  padding: 0;
}

ul li {
  list-style-type: none;
}

input {
  text-align: center;
}

.padding {
  padding: 2rem 0 2rem 0;
}

.txt_center {
  text-align: center;
}

.largo {
  padding-left: 2rem;
  padding-right: 2rem;
}

.cornice {
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
}

.w100p {
  width: 100%;
}

.h100p {
  height: 100%;
}

.flex {
  display: flex;
}

.flex_column {
  flex-direction: column;
}

.justify_content_between {
  justify-content: space-between;
}

.justify_content_center {
  justify-content: center;
}

.justify_content_around {
  justify-content: space-around;
}

.justify_content_evenly {
  justify-content: space-evenly;
}

.justify_content_start {
  justify-content: start;
}

.vertical_center {
  align-items: center;
}

.drjekyll {
  opacity: 1 !important;
  visibility: visible !important;
  transform: none !important;
}

.mrhide {
  opacity: 0;
  visibility: hidden;
  transition: ease-in 0.7s;
}

.box_half_full {
  width: 100%;
}

.bottone:hover {
  color: var(--colore_nero);
}

.txt_azzurro {
  color: var(--colore_azzurro);
}

.txt_nero {
  color: var(--colore_nero);
}

.popup_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9;
}

.popup_box {
  width: 30%;
  height: 10%;
  /*position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);*/
}

/*
* 
* Main
*
*/

/*
* Side Menu
*/

#header_box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--colore_bianco);
  z-index: 9;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.header_box_scrollato {
  background-color: #ffffffbd !important;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .sfondo_offuscato {
    backdrop-filter: saturate(180%) blur(20px) !important;
    -webkit-backdrop-filter: saturate(180%) blur(20px) !important;
  }
}

/** slightly transparent fallback for Firefox (not supporting backdrop-filter) **/

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .sfondo_offuscato {
    background-color: rgba(255, 255, 255, 0.967);
  }
}

#header {
  height: 70px;
}

/*Menu_Social*/

.elemento_link_box {
  margin-right: 1.7rem;
}

.elemento_link {
  width: 19px;
  height: 19px;
  cursor: pointer;
  filter: drop-shadow(3px 2px 1px rgb(0 0 0 / 0.4));
  transition: ease-in 0.5s;
}

.elemento_link:hover {
  filter: none;
  transform: scale(1.1);
}

#link_twitter:hover {
  fill: #1da1f2 !important;
}

#link_instagram:hover {
  fill: url(#instagram_sfondo) !important;
}

#link_github:hover {
  fill: #ad5c51 !important;
}

/* Logo */

#logo_box {
  width: 47px;
  cursor: pointer;
}

#monaiker_logo:hover {
  transform-origin: center;
  transform: rotate(360deg);
  transition: cubic-bezier(0.19, 1, 0.22, 1) 7.7s;
}

#monaiker_logo_spire {
  fill: var(--colore_bianco);
}

/*
*
* Menu
*
*/

/*
* Menu Hamburger
*/

#menu_hamburger_box {
  width: 70px;
  cursor: pointer;
}
#menu_hamburger_svg {
  stroke: var(--colore_azzurro);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu_hamburger_attivo #menu_hamburger_svg {
  transform: rotate(90deg);
}
path {
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
path:nth-child(1) {
  transform-origin: 36% 40%;
}
path:nth-child(2) {
  stroke-dasharray: 29 299;
  stroke: var(--colore_nero);
}
path:nth-child(3) {
  transform-origin: 35% 63%;
}
path:nth-child(4) {
  stroke-dasharray: 29 299;
  stroke: var(--colore_nero);
}
path:nth-child(5) {
  transform-origin: 61% 52%;
}
path:nth-child(6) {
  transform-origin: 62% 52%;
}
.menu_hamburger_attivo path:nth-child(1) {
  transform: translateX(9px) translateY(1px) rotate(45deg);
  stroke:var(--colore_nero);
}
.menu_hamburger_attivo path:nth-child(2) {
  stroke-dasharray: 225 299;
  stroke-dashoffset: -72px;
  stroke:var(--colore_azzurro);
}
.menu_hamburger_attivo path:nth-child(3) {
  transform: translateX(9px) translateY(1px) rotate(-45deg);
  stroke:var(--colore_nero);
}
.menu_hamburger_attivo path:nth-child(4) {
  stroke-dasharray: 225 299;
  stroke-dashoffset: -72px;
  stroke:var(--colore_azzurro);
}
.menu_hamburger_attivo path:nth-child(5) {
  transform: translateX(9px) translateY(1px) rotate(-45deg);
  stroke:var(--colore_nero);
}
.menu_hamburger_attivo path:nth-child(6) {
  transform: translateX(9px) translateY(1px) rotate(45deg);
  stroke:var(--colore_nero);
}

/*
* Menu BOX
*/

#menu_cornice {
  position: fixed;
  width: 100vw;
  height: calc(100% - 90px);
  top: 80px;
  transform: translateX(-150%);
  transition: cubic-bezier(0.19, 1, 0.22, 1) 0.7s;
  z-index: 8;
}

.menu_cornice_attivo {
  transform: translateX(0) !important;
  background-color: rgba(0, 0, 0, 0.5);
}

#menu_box {
  width: 93.7vw;
  height: 98%;
  background-color: var(--colore_bianco);
  text-align: center;
  border: 3px solid var(--colore_azzurro);
  border-radius: 30px;
  z-index: 9;
}

#menu_elements_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
}

.menu_elements_titolo {
  font-size: 3rem;
  text-align: center;
  color: var(--colore_azzurro);
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
}

.menu_elements_titolo:hover {
  transform: scale(1.1);
}

#menu_element_about {
  position: relative;
}

/*
#menu_element_about::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(25deg);
  width: 5px;
  height: 100%;
  background-color: purple;
}*/

/*Filtering*/

.filtering_elements_box {
  text-align: center;
}

.filtering_element {
  background-color: var(--colore_azzurro);
  color: var(--colore_bianco);
  margin: 2rem 0;
  padding: 1rem;
  border: 1px solid var(--colore_azzurro);
  border-radius: 3px;
  cursor: pointer;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

.filtering_element:hover {
  background-color: var(--colore_bianco);
  color: var(--colore_azzurro);
}

/*
* Right Side
*/

.right_side_box {
  width: 100%;
  margin-top: 70px;
}

.right_side {
  padding: 3rem;
}

/*
* Galleria
*/

.galleria_elemento {
  display: none;
  position: relative;
  margin-bottom: 3rem;
}

.galleria_elemento_filtrato {
  display: block !important;
}

.galleria_elemento_bottone {
  position: absolute;
  top: 1.7%;
  left: 1.7%;
  width: 3%;
  height: 3%;
  border-radius: 50%;
  background-color: var(--colore_bianco);
  border: 1px solid var(--colore_azzurro);
  z-index: 3;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
  cursor: pointer;
}

.galleria_elemento_bottone:hover {
  transform: scale(1.1);
}

.galleria_elemento_bottone_attivo {
  background-color: var(--colore_azzurro) !important;
  border: 1px solid var(--colore_bianco) !important;
}

.galleria_elemento_img {
  width: 100%;
  max-width: 100%;
  /*border-radius: 50px;*/
  border-radius: 3%;
}

.galleria_elemento_descrittore_cornice {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3%;
  background-color: var(--colore_bianco);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.7s;
  opacity: 0;
  visibility: hidden;
}

.galleria_elemento_descrittore_cornice_attivo {
  opacity: 0.97;
  visibility: visible;
}

.galleria_elemento_descrittore_tipo {
  position: absolute;
  top: 0;
  right: 7.7%;
  font-size: 2rem;
}

.galleria_elemento_descrittore_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.galleria_elemento_descrittore_titolo {
  font-size: 3rem;
  text-align: center;
  color: var(--colore_azzurro);
}

/*
*
* About Page
*
*/

#about {
  min-height: 100vh;
  padding: 1.7rem;
  background-color: var(--colore_bianco);
  border-radius: 50px;
}

#about_title {
  font-size: 4rem;
  text-align: center;
  color: var(--colore_azzurro);
}

.about_sub {
  font-size: 2.7rem;
  text-align: center;
}

.about_txt {
}

/** Arrow Top **/

#top_box {
  display: none;
}

/*
*Barra di Scorrimento Verticale
*/

::-webkit-scrollbar {
  width: 10px;
  height: 3px !important;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--colore_azzurro);
  border: 1px solid var(--colore_bianco);
  box-shadow: inset 0 0 6px rgb(0 0 0 / 50%);
  -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 50%);
  height: 3px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px var(--colore_nero);
  -webkit-box-shadow: inset 0 0 6px var(--colore_nero);
}

/**
* Animazioni
**/

/*Scroll Down Arrow*/

@keyframes arrow_down {
  from {
    transform: rotate(45deg) translateY(0);
    opacity: 1;
  }

  to {
    transform: rotate(45deg) translate(10px, 10px);
    opacity: 0;
  }
}

@font-face {
  font-family: "alkatraregular";
  src: url("/fonts/alkatra-variablefont_wght-webfont.woff2") format("woff2"),
    url("/fonts/alkatra-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/**
* media
**/

@media screen and (min-width: 912px) {
  #header_box {
    width: 70px;
    height: 100vh;
    min-height: 100vh;
  }

  #header {
    height: 80%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 0;
  }

  .cangiante_column {
    flex-direction: column;
  }

  .elemento_link_box {
    margin-bottom: 1.7rem;
    margin-right: 0;
  }

  /* Menu */

  #menu_cornice {
    width: calc(100vw - 70px);
    height: 100%;
    top: 0;
    left: 70px;
    transform: translateX(150%);
  }

  .right_side_box {
    width: calc(100vw - 70px);
    margin-top: 0;
    margin-left: 70px;
  }

  /* Galleria */

  .galleria_elemento_descrittore_tipo {
    top: 1.7%;
    right: 1.7%;
  }

  /* Arrow Top */

  #top_box {
    display: flex;
    position: fixed;
    left: 17.5px;
    bottom: 35px;
    width: 30px;
    height: 30px;
    background-color: var(--colore_nero);
    border-radius: 7px;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    transition: ease-in 0.5s;
  }

  #top_arrow {
    width: 15px;
    fill: var(--colore_bianco);
    transition: ease-in 0.5s;
  }

  #top_box:hover {
    background-color: var(--colore_bianco);
  }

  #top_box:hover #top_arrow {
    fill: var(--colore_nero);
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}

@media screen and (max-width: 768px) and (orientation: landscape) {
}
